.MobileNavigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9401;
    background: rgba(0, 0, 0, 0.3);
    animation: opacity-lat 0.8s ease 0ms 1 normal both;
}

.MobileNavigation .mobilemenu {
    transform: translateX(0);
    height: 100vh;
    background: white;
    padding: 30px 30px 30px 30px;
    transition: 0.5s;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    overflow: scroll;
}

.MobileNavigation .mobilemenu .menubar {
    display: block;
}

.MobileNavigation li.nav-item {
    text-align: start;
}

.MobileNavigation .menubar .nav-link {
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid #0000002e;
}

.MobileNavigation .menubar .nav-link:last-child() {
    border-bottom: 0;
}

.closebutton {

    width: 40px;
    height: 40px;
    background: -webkit-linear-gradient(left, #3060e5 0%, #048eea 45%, #3ee09f 100%);

    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: fixed;
    right: 0;
    z-index: 3;
    top: 0;
    animation: opacity-lat 0.8s ease 0ms 1 normal both;


}

.mobilemenu .branding .navbarlogo.img-fluid {
    max-width: 100%;
    height: 170px;
}