section.ProcessStep {
    padding: 100px;
}

.icon_list_item .icon_list_item_content h4.heading {
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    font-family: 'Josefin Sans';
    color: black;
}

.icon_list_item .icon_list_item_content p.discription {
    font-size: 16px;
    line-height: 26px;
    font-family: 'Source Sans Pro';
    color: #777777;
}

.icon_list_item {
    /* position: relative; */
    text-align: center;
}

.icon_list_item .img-icon {
    width: 200px;
    margin: auto;

}

.icon_list_item .img-icon img {
    width: 100%;
}

.icon_list_item_icon {
    width: 3em !important;
    height: 1.5em !important;
    line-height: 1.5em !important;
    background: #f7f7f7;
    border-color: #f7f7f7;
    color: black;
    position: relative;
    top: 1em;
    overflow: inherit;
    margin: auto;
    font-size: 50px;
    margin-bottom: 100px
}

.icon_list_item_icon:before {
    content: "";
    position: absolute;
    top: -1em;
    left: 0;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    border-bottom: 1em solid;
    border-bottom-color: inherit !important;
}

.icon_list_item_icon:after {
    content: "";
    position: absolute;
    bottom: -1em;
    left: 0;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    border-top: 1em solid;
    border-top-color: inherit !important;
}



@media screen and (max-width : 1400px) {
    section.ProcessStep {
        padding: 100px 70px;
    }

}

@media screen and (max-width : 992px) {
    section.ProcessStep {
        padding: 100px 50px;
    }
}


@media screen and (max-width : 500px) {
    section.ProcessStep {
        padding: 100px 30px;
    }
}