.NavigationDesktop {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 60px);
    height: 100%;
    z-index: 9401;
    background: rgba(0, 0, 0, 0.3);
    animation: opacity-lat 0.8s ease 0ms 1 normal both;
}




.sticky-header-overlay-active {
    animation: opacity-lat 0.8s ease 0ms 1 normal both;
    visibility: hidden;
}

.NavigationDesktop .desktopmenu {
    height: 100vh;
    background: white;
    padding: 30px 30px 30px 30px;
    transition: 0.5s;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: scroll;

}



.menubar {
    display: flex;
    flex-flow: inherit;
    height: 100%;
    align-items: center;
    justify-content: center;
}


li.nav-item {
    cursor: pointer;
    font-family: Source Sans Pro, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
}

/* li.nav-item {
    font-size: 20px;
    line-height: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    cursor: pointer;
} */

.menubar .nav-link {
    color: black;
    margin: 4px 0px 8px 0px;
    padding: 8px 0px 4px 0px;
}

.menubar .nav-link.active,
.menubar .nav-link:focus,
.menubar .nav-link:hover {
    color: #3060e5;
    background: -webkit-linear-gradient(left, #3060e5 0%, #048eea 45%, #3ee09f 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

}



.menubar ul {
    list-style: none;
    padding: 0;
}