section {
    padding: 0 90px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    width: calc(100% - 60px);
}

.titleDiscription .TitleDisc .subtitle,
.titleDiscription .TitleDisc .title {
    color: #111111 !important;
}

.sendmessage {
    background: linear-gradient(45deg, #3060e5 0%, #048eea 45%, #3ee09f 100%);
    padding: 12px 25px 12px 25px;
    font-size: 18px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
}

button.startProject:hover,
button.loadMoreButton:hover,
.sendmessage:hover {
    background: none;
    background: #3ee09f;
    background: -webkit-linear-gradient(45deg, #3ee09f 0%, #048eea 55%, #3060e5 100%);
    background: linear-gradient(45deg, #3ee09f 0%, #048eea 55%, #3060e5 100%);
    border-color: #3060e5;
}

button.loadMoreButton {
    display: block;
    margin: auto;
    background: linear-gradient(45deg, #3060e5 0%, #048eea 45%, #3ee09f 100%);
    line-height: 28px;
    width: 235px;
    border: none;
    height: 50px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    transition: opacity 10ms ease, color .2s ease;
    font-size: 18px;
    margin-top: 50px
}



/* boot carousel */

.carousel-indicators [data-bs-target] {
    width: 20px !important;
    height: 5px !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
    background-color: rgba(255, 255, 255, 0.6) !important;
}
.view-my-portfolio:hover{
    cursor: pointer;
}



/* responsive */

@media screen and (max-width : 1400px) {
    section {
        padding: 0 70px;
    }

}

@media screen and (max-width : 1200px) {

    .testimonila-left-side,
    .benefits-color {
        width: 65% !important;
    }

    .testimonial-image,
    .benefits-image {
        width: 35% !important;
    }
}




@media screen and (max-width : 992px) {

    section {
        padding: 0 50px;
    }

    .testimonila-left-side,
    .benefits-color {
        width: 100% !important;
    }

    .testimonial-image,
    .benefits-image {
        width: 100% !important;
    }

}


@media screen and (max-width : 500px) {
    section {
        padding: 0 30px;
    }

    .content {
        /* position: relative; */
        width: 100%;
    }
}